<h1>Listing game sessions</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Game</th>
    <th>Turn number</th>
    <th>Round number</th>
    <th>Turn time</th>
    <th>Time bank</th>
    <th>Time taken so far</th>
    <th>Turn order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_session.each do |game_session| %>
  <tr>
    <td><%= game_session.player_id %></td>
    <td><%= game_session.game_id %></td>
    <td><%= game_session.turn_number %></td>
    <td><%= game_session.round_number %></td>
    <td><%= game_session.turn_time %></td>
    <td><%= game_session.time_bank %></td>
    <td><%= game_session.time_taken_so_far %></td>
    <td><%= game_session.turn_order %></td>
    <td><%= link_to 'Show', game_session %></td>
    <td><%= link_to 'Edit', edit_game_session_path(game_session) %></td>
    <td><%= link_to 'Destroy', game_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game_session', new_game_session_path %>
