<%=  image_tag("logo.png", :size => "354x100") %> 
<h1>Creating new game</h1>
<%= form_tag({:action => :create_game},{:method => "post", 'data-ajax' => "false"}) do %>
  <div class="field">
    <%= label_tag "game[name]", "Name" %>
    <%= text_field_tag "game[name]", "Caylus @ m&m" %>
  </div>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= label_tag @game.time_per_turn, "Time per turn" %><br />
    <%= time_select "game", "time_per_turn",
      :include_seconds => true,
      :prompt => {:hour => 'Choose hour',:minute => 'Choose minute',:second => 'Choose seconds'} %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= label_tag @game.timebank_per_player, "Timebank per player" %><br />
    <%= time_select "game", "timebank_per_player",
      :include_seconds => true,
      :prompt => {:hour => 'Choose hour',:minute => 'Choose minute', :second => 'Choose seconds'} %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= label_tag @game.interlude_per_turn, "Interlude per turn" %><br />
    <%= time_select "game", "interlude_per_turn",
      :include_seconds => true,
      :prompt => {:hour => 'Choose hour',:minute => 'Choose minute', :second => 'Choose seconds'} %>
  </fieldset>

  <div class="field">
    <%= label_tag "game[number_of_players]", "Number of players" %>
    <%= text_field_tag "game[number_of_players]","4" %>
  </div>

  <div class="field">
    <%= label_tag "Type of first player selection" %><br />
    <%= select_tag "game[first_type]", options_for_select(@first_type_descriptions) %>
  </div>


  <div class="actions">
    <%= submit_tag "Create new game" %>
  </div>
<% end %>
