<div id="script_area">
<% content_for(:head) do %>
  <%= javascript_include_tag "timer" %>
<% end %>
</div>


<h3>Timer Status: </h3>
<h1 style="font-size:300%;color:blue" ><span id="message">Round is about to start...</span></h1>
<%= form_tag({:action => :index},:method => "get",:id =>'form_timer', :remote=>true) do %>
  <td><%= button_to_function "Dialog popout", "endGame()" %></td>
  <%= hidden_field_tag 'game_id', @game.id %>
  <table>
    <tr>
      <th>Game name</th><th><%= @game.name %></th>
      <th>Number of players</th><th><span id="number_of_players"><%= @game.number_of_players %></span></th>
    </tr>
    <tr>
      <th>Started at</th><th><%= @game.created_at.strftime("%d %b %Y, %H:%M:%S") %></th>
      <th>Game time so far</th><th><%= text_field_tag "game_time", @game.game_time.strftime("%H:%M:%S") %></th>

    </tr>
    <tr></tr>
    <tr>
      <th>Time per turn</th><th><%= @game.time_per_turn.strftime("%M:%S") %></th>

    </tr>
    <tr>
      <th>Timebank per player</th><th><%= @game.timebank_per_player.strftime("%M:%S") %></th>
      <th>Round number</th><th><%= text_field_tag "round_number", @game.round_number %></th>
    </tr>
    <tr>
      <th>Interlude per turn</th><th><span id="interlude_per_turn"><%= @game.interlude_per_turn.strftime("%S seconds") %></span></th>
      <th>Turn number</th><th><%= text_field_tag "turn_number", @game.turn_number %></th>
    </tr>
  </table>
  <h2>Actions</h2>
  <table>
    <tr>
      <td><%= button_to_function "Start round", "startRound()", {:id => "start_round_button"} %></td>
      <td><%= button_to_function "Next", "nextPlayer()", {:style => "visibility:hidden", :id => "next_button",:disable_with => "Please wait..."} %></td>
      <td><%= button_to_function "Pause", "pauseGame()", {:style => "visibility:hidden", :id => "pause_button"} %></td>
      <td><%= button_to_function "Resume", "resumeGame()", {:style => "visibility:hidden", :id => "resume_button"} %></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><%= button_to_function "End game", "endGame()" %></td>
    </tr>
  </table>
  <div id="player_area">
    <%= render 'players' %>

  </div>

<% end %>

  

