<h1>Timer Status: Waiting to start a new round...</h1>

<table>
  <tr><th>Game name</th><th><%= @game.name %></th></tr>
  <tr><th>Started at</th><th><%= @game.created_at %></th></tr>
  <tr></tr>
  <tr><th>Time per turn</th><th><%= @game.time_per_turn %></th></tr>
  <tr><th>Timebank per player</th><th><%= @game.timebank_per_player %></th></tr>
  <tr><th>Interlude per turn</th><th><%= @game.interlude_per_turn %></th></tr>
  <tr></tr>
  <tr><th>Game time so far</th><th><%= @game.game_time %></th></tr>
  <tr><th>Round number</th><th><%= @game.round_number %></th></tr>
  <tr><th>Turn number</th><th><%= @game.turn_number %></th></tr>
</table>

<h2>Players</h2>
<table>
  <tr>
    <th>Turn order</th>
    <th>Name</th>
    <th>Time left for the turn</th>
    <th>Time bank left</th>
    <th>Time taken so far</th>
  </tr>

<% @game_sessions.each do |game_session| %>
  <tr>
    <td><%= game_session.turn_order %></td>
    <td><%= game_session.player.name %></td>
    <td><%= game_session.turn_time %></td>
    <td><%= game_session.time_bank %></td>
    <td><%= game_session.time_taken_so_far %></td>
  </tr>
<% end %>
</table>

<h2>Actions</h2>
<table>
  <tr>
    <td><%= button_to "Start round" %></td>
    <td><%= button_to "End game" %></td>
  </tr>
</table>

